body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6CBEFF;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-family: 'Merienda', cursive;
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 15px;
}

button {
  background-color: #F2D1C9;
  width: 150px;
  height: 40px;
  border-radius: 20px; 
  font-size: 18px;
  font-family: 'Merienda', cursive;
  margin-bottom: 15px;
}

h3 {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Merienda', cursive;
  color: white;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #472c3f;
  border-radius: 4px;
  border-width: 3px;
  border-color: white;
  border-style: solid;
}

.grid div {
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border-width: 3px;
  border-color: white;
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: #033D61;
  border-radius: 4px;
  border-width: 3px;
  border-color: white;
  border-style: solid;
}

.mini-grid div {
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border-width: 3px;
  border-color: white;
}
